<body class="m-0 font-sans text-base antialiased font-normal leading-default bg-gray-50 text-slate-500">
  <main class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200">

    <h2>
    <%= appointment.name %>
    </h2>

    <div class="row">
        <div class="col-xs-3">
        <dt>Description:</dt>
        </div>
        <div class="col-xs-9">
        <dd class="blockquote"><%= appointment.description %></dd>
        </div>
    </div>

    <!-- Add participants -->
    <!--<div class="w-full px-6 py-6 mx-auto">
      <div x-data="app()" x-init="[initDate(), getNoOfDays()]" x-cloak>
        <div class="container mx-auto px-4 py-2 ">
          <div class="flex justify-between">
            <div class="font-bold text-gray-800 text-xl mb-4">
              Participants in <strong><%= appointment.name %></strong>
            </div>
            <button data-modal-target="#participant-modal" data-modal-toggle="participant-modal" class="mb-3 ml-6 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
              + Add a Participant
            </button>

          </div>
        </div>

      </div>
    </div>-->

    <!-- add participant Modal start -->
    <%# <div id="participant-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"> %>
      <div class="relative p-4 w-full max-w-md ">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                  Create a participant
              </h3>
              <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="participant-modal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
              </button>
          </div>

          <!-- Add participant Modal body -->
          <form class="p-4 md:p-5" role="form" action="/appointments/<%=appointment.id%>/participants" method="post" id="new-participant-form">
            <div class="gap-4 mb-4 grid-cols-2">
              <div class="col-span-2 sm:col-span-1 mb-2">
                <label for="title" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">* Email address</label>
                <input type="text" name="email" id="email_input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Email of participant" required>
              </div>
            </div>
            <div class="mb-2 flex justify-end p-4 md:p-5 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b dark:border-gray-600">
              <button type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" data-modal-toggle="participant-modal">Cancel</button>
              <button data-modal-hide="extralarge-modal" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create</button>
            </div>
          </form>

        </div>
      </div>
    <%# </div> %>

    <!-- add participant Modal end -->

    <!-- Show participant content start -->
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Participants:</strong></div>
        <div class="panel-body">
          <% if appointment.participants.empty? %>
            <span class="small">There are no participants yet</span>
          <% else %>
            <ul class="list-group">
              <li class="list-group-item clearfix">
                <%= appointment.owner.username %>
              </li>
              <% appointment.participants.each do |participant| %>
                <li class="list-group-item clearfix">
                  <%= participant.username %>
                  <% if appointment.policies.can_remove_participants %>
                    <span class="float-end">
                      <form role="form" method="post" action="/appointments/<%= appointment.id %>/participants">
                        <input type="hidden" name="action" value="remove">
                        <input type="hidden" name="email" value="<%= participant.email %>">
                        <button type="submit" class="btn btn-xs btn-default">
                          <span class="fas fa-user-times"></span>
                        </button>
                      </form>
                    </span>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <% if appointment.policies.can_add_participants %>
              <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newParticipantModal">+ Add Collaborator</button>
            <% end %>
          <% end %>

        </div>

      </div>
    </div>
    <!-- Show participant content end -->

  </main>
</body>