<h2><%= project.name %></h2>

<dl>
  <div class="row">
    <div class="col-xs-3">
      <dt>Appointment Repository:</dt>
    </div>
    <div class="col-xs-9">
      <dd class="blockquote">
        <a href="<%= project.repo_url %>"><%= project.repo_url %></a>
      </dd>
    </div>
  </div>
</dl>

<div class="row">
  <div class="col-lg-9">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>File</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% project.documents.each do |document| %>
            <tr>
              <td>
                <a href="/documents/<%= document.id %>"><%= document.filename %></a>
              </td>
              <td><%= document.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <% if project.policies.can_add_documents %>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newDocumentModal">+ New Document</button>
        <% end %>
      </div>
    </div>
    <div class="row" style="height:10px;"></div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">Collaborators</div>
      <div class="panel-body">
        <% if project.collaborators.empty? %>
          <span class="small">There are no collaborators yet</span>
        <% end %>
        <ul class="list-group">
          <li class="list-group-item clearfix"><%= project.owner.username %></li>
          <% project.collaborators.each do |collaborator| %>
            <li class="list-group-item clearfix">
              <%= collaborator.username %>
              <% if project.policies.can_remove_collaborators %>
                <span class="float-end">
                  <form role="form" method="post" action="/projects/<%= project.id %>/collaborators">
                    <input type="hidden" name="action" value="remove">
                    <input type="hidden" name="email" value="<%= collaborator.email %>">
                    <button type="submit" class="btn btn-xs btn-default">
                      <span class="fas fa-user-times"></span>
                    </button>
                  </form>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% if project.policies.can_add_collaborators %>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newCollaboratorModal">+ Add Collaborator</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'document_new_partial' %>
<%= render 'collaborator_new_partial' %>

<div class="row">
  <div class="text-center">
    <% if project.policies.can_edit %>
      <a href="">edit project</a>
    <% end %>
    <% if project.policies.can_delete %>
      | <a href="">delete project</a>
    <% end %>
    <% if project.policies
